// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.toastr-error .toast-container {
    background: red;
}
.toast-error .toast-container .toast-message {
    color:white;
}

.toastr-info .toast-container {
    background: blue;
}
.toastr-info .toast-container .toast-message {
    color:white;
}

.toastr-warning .toast-container {
    background:#f89406;
}
.toastr-warning .toast-container .toast-message {
    color:#fff;
}

.page-top{
margin-top: 62px;
}


ion-fab[bottom] {
    bottom: 81px;
}
@media screen and (min-width: 700px) {
    .ion-page {
        width:35%;
        margin-left:32%;
    }
}