<button md-raised-button color="primary">
ok <md-icon>done</md-icon>
</button>
<md-checkbox>Check me!</md-checkbox>
<h3>
  Enter Pet information
</h3>
<div class="container-fluid">
  <div class="row newpet">

    <div class="col-sm-4">
      <md-input-container>
  <input mdInput placeholder="Name" [(ngModel)]="this.newPet.Name">
</md-input-container>  
    </div>
    <div class="col-sm-3">
      <!--<input list="breeds" name="breed" placeholder="Breed" [(ngModel)]="this.newPet.Breed">
      <datalist id="breeds">
        <option value="Terrier">
          <option value="PittBull">
      </datalist>-->
<md-select placeholder="Breed"  [(ngModel)]="this.newPet.Breed">
  <md-option *ngFor="let breed of breeds" [value]="breed.value">
    {{ breed.viewValue }}
  </md-option>
</md-select>


    </div>
    <div class="col-sm-4"> 
      <!--<input type="number" class="form-control" placeholder="Age" [(ngModel)]="this.newPet.Age" />-->
      
      <md-input-container>
  <input type="number" mdInput placeholder="Age" [(ngModel)]="this.newPet.Age">
</md-input-container> 

      </div>
  </div>
  <div class="row newpet">
    <div class="col-sm-4 col-sm-offset-8"> 
      <!--<input type="button" class="btn btn-primary" value="Cancel" (click)="this.cancel()" /> &nbsp; <input type="button" class="btn btn-primary"
        value="Save" (click)="this.addPet()" />-->

<button md-raised-button color="primary" (click)="this.cancel()">
 Cancel 
</button>&nbsp;&nbsp;
<button md-raised-button color="primary" (click)="this.addPet()">
 Save 
</button>


        </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>Added Pets</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Breed</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of pets">
            <td></td>
            <td>{{pet.Name}}</td>
            <td>{{pet.Breed}} </td>
            <td>{{pet.Age}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>